#titleArea{
    background-image: url("Images/campus.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    position: relative;
  }

#titleText{
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border-radius: 10px;
}

.card footer {
  color: black;
  font-weight: bold;
}

.card blockquote {
  font-weight: bold;
  color: black;
}

@media (min-width: 32em) {
  .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
  }
}

@media (min-width: 48em) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

  @media (min-width: 62em) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}

#demo {
  border: solid gray;
  border-radius: 5px;
}

.fakeimg {
    background: lightblue;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #888888;
  }

  .accordion i {
    padding-right: 0.5rem !important;
  }

.img-link {
    border: solid grey;
}

body.hasHover .img-link:hover {
    background-color: lightgrey;
}

.navbar-nav li.active {
	background-color: rgb(104, 100, 100);
	
}

body.hasHover .logo:hover {
  opacity: 0.75;
}

.navbar .nav-item {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

body.hasHover .navbar-nav li:hover {
    background-color: rgb(104, 100, 100);
    cursor: pointer;
}

body.hasHover .navbar-nav li:hover  a {
    color: white !important;
}
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: 1px solid darkgrey;
  }

.accordion.active, body.hasHover .accordion:hover {
    font-weight: bold !important;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .accordion.active:after {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .dark-hr {
      color: black;
      background-color: black;
  }

  button:focus {outline:0;}
